<div id="navegador" [formGroup]="ponerCodigo">

    <p id="bienvenida">Bienvenido a tu perfil <b>{{info.mote}}</b></p>

    <button id="rankingbutton" *ngIf="info.role === 'Alumno' && element2 == true" (click)="showButton2()">
        <b>Añadirse en un nuevo ranking</b>
    </button>

    <input id="codigo" formControlName="codigo" type="text" *ngIf="element2 == false"
        placeholder="Ponga el codigo del ranking">

    <button id="Si1" *ngIf="element2 == false" (click)="hideButton2()">
        <b>Unirse</b>
    </button>

    <button id="No1" *ngIf="element2 == false" (click)="hideButton2()">
        <b>Volver</b>
    </button>

    <button id="logout" (click)="openDialog()">
        <b>Logout</b>
    </button>

</div>

<form id="Usuario" [formGroup]="cambiarFoto">

    <img id="ProPic" src="{{info.img}}" alt="FotoHumanoNormal" (click)="showButton3()">

    <input id="cambiarFoto" formControlName="foto" type="file" *ngIf="element3 == false"
        (change)="onFileChange($event)">

    <button id="Si3" [disabled]="!cambiarFoto.valid" *ngIf="element3 == false"
        (click)="changephoto(); hideButton3()">
        <b>Cambiar</b>
    </button>

    <button id="No3" *ngIf="element3 == false" (click)="hideButton3()">
        <b>Volver</b>
    </button>

    <h1>
        <b>Nick: {{info.mote}}</b>
    </h1>

    <p>{{info.role}}</p>

</form>

<table id="InfoUser">

    <tr>
        <th id="th">Nombre:</th>
        <td id="td">{{info.name}}</td>
    </tr>

    <tr>
        <th id="th">Apellidos:</th>
        <td id="td">{{info.lastname}}</td>
    </tr>

    <tr>
        <th id="th">Email:</th>
        <td id="td">{{info.email}}</td>
    </tr>

    <tr *ngIf="info.centro != null">
        <th id="th">Centro:</th>
        <td id="td">{{info.centro}}</td>
    </tr>

    <tr *ngIf="info.date != null">
        <th id="th">Fecha de nacimeinto:</th>
        <td id="td">{{info.date}}</td>
    </tr>

    <tr>
        <th>Contraseña:</th>

        <td [formGroup]="cambiarContra">

            <button id="BtnPsw" *ngIf="element1 == true" (click)="showButton1()">
                <b>Cambiar contraseña</b>
            </button>

            <input id="contraseña" formControlName="newpassword" type="password" *ngIf="element1 == false"
                placeholder="Ponga su nueva contraseña">

            <br>

            <button id="Si2" [disabled]="!cambiarContra.valid" *ngIf="element1 == false"
                (click)="changepassword(); hideButton1()">
                <b>Cambiar</b>
            </button>

            <button id="No2" *ngIf="element1 == false" (click)="hideButton1()">
                <b>Volver</b>
            </button>

        </td>

    </tr>

</table>

<table *ngIf="info.role === 'Alumno'" id="Ranking">

    <tr>

        <th>Ranking 1</th>

        <td>
            <button id="Entrar" routerLink="../ranking" routerLinkActive="active">
                Entrar
            </button>
        </td>

    </tr>

</table>